@import url('https://fonts.cdnfonts.com/css/tt-runs-trial');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, 'TT Runs Trial' sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
button,
p {
  font-family: 'TT Runs Trial', sans-serif;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.h0 {
  font-size: 1.875rem;
}

.h0,
.h1 {
  font-family: TT Runs, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  line-height: 125%;
}

.h2 {
  font-size: 1.25rem;
}

.h2,
.h3 {
  font-weight: 600;
  letter-spacing: -.03em;
  line-height: 120%;
}

.h4 {
  font-weight: 600;
  letter-spacing: -.03em;
  line-height: 116%;
}

.h4,
.h5 {
  font-size: .9375rem;
}

.h5 {
  line-height: 125%;
}

.h5,
.h6 {
  font-family: TT Commons Pro, Arial, sans-serif;
  font-weight: 500;
}

.h6 {
  font-size: .75rem;
  line-height: 120%;
}

.h7 {
  font-size: .625rem;
  line-height: 110%;
}

.h6,
.h7 {
  letter-spacing: -.03em;
}

.h7,
.text1 {
  font-weight: 500;
}

.text2 {
  font-family: TT Commons Pro, Arial, sans-serif;
  font-weight: 400;
  line-height: 140%;
}

.captions {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 110%;
  text-transform: lowercase;
}

.number {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: -.03em;
  line-height: 90%;
}

@media (min-width: 375px) {
  .h0 {
    font-size: calc(1.3979rem + 10.03562vw);
  }

  .h2 {
    font-size: 1.25rem;
  }

  .h4,
  .h5 {
    font-size: .9375rem;
  }

  .h6 {
    font-size: calc(.69036rem + .25445vw);
  }

  .h7 {
    font-size: calc(.50573rem + .50891vw);
  }

  .captions {
    font-size: calc(.69036rem + .25445vw);
  }

  .number {
    font-size: calc(1.51145rem + 1.01781vw);
  }
}

@media (min-width: 768px) {
  .h0 {
    font-size: calc(2rem + .78125vw);
  }

  .h2 {
    font-size: calc(.875rem + .78125vw);
  }

  .h4,
  .h5 {
    font-size: calc(.84375rem + .19531vw);
  }

  .h6 {
    font-size: calc(.71875rem + .19531vw);
  }

  .h7 {
    font-size: calc(.65625rem + .19531vw);
  }

  .text2 {
    font-size: calc(.84375rem + .19531vw);
  }
}

@media (min-width: 1280px) {
  .h2 {
    font-size: calc(.5rem + 1.25vw);
  }

  .number {
    font-size: calc(-1rem + 5vw);
  }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}